vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-NIPVRV6\\chitw
vti_modifiedby:SR|DESKTOP-NIPVRV6\\chitw
vti_timelastmodified:TR|08 Apr 2021 03:13:07 -0000
vti_timecreated:TR|01 Apr 2021 19:43:53 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Term\\ Project/activeListings.html Term\\ Project/Maddex.html Term\\ Project/siteMap.html Term\\ Project/termProject.html Term\\ Project/contactUs.html Term\\ Project/Dolobram.html Term\\ Project/Blaydon.html
vti_nexttolasttimemodified:TW|08 Apr 2021 03:04:39 -0000
vti_cacheddtm:TX|08 Apr 2021 03:13:07 -0000
vti_filesize:IR|4019
vti_cachedlinkinfo:VX|S|Images/pexels-photo-1396122.jpeg S|images/RoyalLePage.png S|Images/red-arrow-right.gif
vti_cachedsvcrellinks:VX|FSUS|Term\\ Project/Images/pexels-photo-1396122.jpeg NSUS|Term\\ Project/images/RoyalLePage.png FSUS|Term\\ Project/Images/red-arrow-right.gif
